---
---
@import "main";

input {
  -webkit-user-select: text; /* Chrome, Opera, Safari */
  -moz-user-select: text; /* Firefox 2+ */
  -ms-user-select: text; /* IE 10+ */
  user-select: text; /* Standard syntax */
}

body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  background: black;
  //background-image: url(../images/nfc7cj2.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  // background-image: linear-gradient(to bottom right,red,orange,yellow,green,blue,indigo,violet);
  height:100vh;
  //color: #ffffff;
  padding: 0;
  margin: 0;
  overflow-y: scroll;  

}

//hide main scrollbar
body::-webkit-scrollbar {
  display: none;
}

//top text that says user name
.usernametext { 
  color: rgb(0, 102, 255);
  margin-left: auto;
  margin-right: auto;
  font-size:medium;

}
//useless button for now
.button {
  color: rgb(0, 255, 145);
  font-size: large;
  position: absolute;
  margin-top: 100px;
}

//second counter
.counter {
  color:rgb(255, 255, 255);
  text-align: center;
  position: relative;
}
//current page
.current {
  color: rgb(255, 0, 0);

}

//context in page 
p{
  color: white;
  text-align: center;
  font-size: large;
  //font-family: sans-serif;
  
}

p2{
  color: white;
  text-align: center;
  font-size: medium;
  display: block;
  padding: 10px;
}

p3{
  color: white;
  text-align: center;
  font-size: medium;
  display: block;
  padding: 15px;
}
  //drop down menu text
p4
{
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: 2px;
  font-family: 'Courier New', Courier, monospace;
  padding: 12px;
    //text-decoration: underline;
  
}

li.newli {
  font-size: large;
  padding: 8px;
  text-decoration: underline;
}

//TABLE DROP DOWN ABOUT PAGE
.table {
  overflow: hidden;
  border: 1px solid #ccc;
  //background-color: #f1f1f1;
  
}

/* Style the buttons inside the tab */
.table button {
  background-color: inherit;
  //float:inline-start;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

/* Change background color of buttons on hover */
.table button:hover {
  background-color: rgb(255, 255, 255);
  color: #dd2c2c;
}

/* Create an active/current tablink class */
.table button.active {
  background-color: rgb(255, 255, 255);
  color: #000;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 1px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

//animated text
.clearText {
  color: transparent;
  background-image: url(https://i.giphy.com/media/w1QrsNFPcwxdS/giphy.webp);
  text-decoration:none;
  font-family: sans-serif;
  font-size: 150px;
  font-weight: bolder;
  -webkit-background-clip: text;
}
.clearText2 {
  color: transparent;
  background-image: url(https://media4.giphy.com/media/V4NSR1NG2p0KeJJyr5/giphy.gif?cid=ecf05e47vx65lmpgp3hydhjd1njwmkvync784ywes903rtrn&rid=giphy.gif&ct=g);
  text-decoration:none;
  font-family: sans-serif;
  font-size: 200px;
  font-weight: bolder;
  -webkit-background-clip: text;
}

  //DROP DOWN MENU HEADERS
  h4 {
    text-decoration: underline;
  }

//tabs at top of page
a { 
  color:rgb(255, 255, 255);
  display: block;
  text-decoration: none;
  
}
a:hover{
  color: rgb(255, 0, 0);
}

//tabs
nav {
  text-align: right;
  letter-spacing: 2.5px;
  font-family:'Times New Roman', Times, serif;
  padding: 10px;
  list-style-type: none;
}

//color stuff

.colorStuff {
  position: fixed;
  color:rgb(255, 255, 255);
  margin-bottom: 1px;
  bottom: 50px;
  //padding-top: 100px;
  padding-left: 20px;
}

h2 {
  position: fixed;
}
h2.bgChanger {
  padding: 30px;
  padding-left: 0px;
  font-size: medium;
}

button.colorButton {
  color: green;
  font-size:large;
  font-weight: 100;
}

//slider stuff
.slidecontainer {
  position: fixed;
  margin-top: 400px;
  margin-left:30px;
  width: 18%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.4;
  transform: rotate(270deg);
  -webkit-transition: .2s;
  transition: opacity 1.0s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #dd2c2c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}


h1 {
  text-align: center;
  color:rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  font-family:'Times New Roman', Times, serif;
  font-weight:bold;
}

//chat header text and inner text 
li.login.page {
  text-decoration: none;
}
li.chat.page {
  text-decoration: none;
}


/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

li {
  color: rgb(255, 255, 255);
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: auto;
}

.page {
  height: 50%;
  margin: auto;
  width: 50%;
}

/* Login Page */

.login.page {
  background-color: #000;
  margin-top: 120px;
  height: 500px;
  width: 100;
}

.login.page .form {
  height: 150%; /* 100 */
  margin-top: -50px; /* 100 */
  position: relative;
  text-align: center;
  top: 40%;
  width: 100%; /* 100 */
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  //fixing mobile stuff 
  

}

.login.page .title {
  font-size: 200%; /* 200 */
  top: 20%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
  left: 500px;
  border-radius: 10px;
  border: #fff;
  background-color: rgb(0, 0, 0);
}

/* Font */

.messages {
  font-size: 120%;
  color: #fff;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: rgb(255, 255, 255);
  font-size: 70%;
  margin: 5px;
  text-align: center;
  color: rgb(255, 0, 0);
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}
//hide scroll bar
.messages::-webkit-scrollbar {
  display: none;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 50px;
  left: 0;
  outline: none;
  padding-left: 10px;
  right: 0;
  width: 100%;
  margin-top: -10%;
}